.div_principal {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: hsl(234, 100%, 19%);
    color: white;
    align-items: center;
  
  }
  .div_inputs{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

.inputs{
  width: 100%;
}